
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    height: 300vh;
    background: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

section .side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #57192b;
    background-size: cover;
    background-position: center;
}

section .side#side1 {
    background: white;
    clip-path: polygon(0 100%, 43% 100%, 72% 84%, 45% 73%, 73% 55%, 46% 41%, 75% 28%, 48% 16%, 78% 9%, 49% 0, 0 0);
    /* clip-path: polygon(0 100%, 44% 99%, 72% 84%, 45% 73%, 73% 55%, 46% 41%, 75% 28%, 48% 16%, 78% 9%, 49% 0, 0 0); */
}

section .side#side2 {
    clip-path: polygon(100% 100%, 41% 100%, 72% 84%, 45% 73%, 73% 55%, 46% 41%, 75% 28%, 48% 16%, 78% 9%, 49% 0, 100% 0%);
} 
